<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.6.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/vendor/document-register-element.js"></script>
    <script src="/javascripts/vendor/hinclude.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/includes-refresher.js" type="text/javascript"></script>

    <script>
    function addCSSRule(sheet, selector, rules, index) {
      if("insertRule" in sheet) {
        sheet.insertRule(selector + "{" + rules + "}", index);
      }
      else if("addRule" in sheet) {
        sheet.addRule(selector, rules, index);
      }
    }

    addCSSRule(document.styleSheets[0], "h-include .initial", "display: none");
    addCSSRule(document.styleSheets[0], "h-include .spinner", "display: none");
    addCSSRule(document.styleSheets[0], "h-include .spinner:after", 'content: "..."'); // Not working
    </script>
  </head>
  <body>
    <h-include src="<%= NAVIGATION_HOST %>/?item=<%= locals.menuItem ? locals.menuItem : 'todos' %>"><span class="initial"><a href="<%= ACTIVITIES_HOST %>">Link to navigation</a></span></h-include>
    <div class="container">
      <div id="popup-container"></div>
      <div class="activity-list panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Activity</h3>
        </div>
        <div class="panel-body">
          <h-include src="<%= ACTIVITIES_HOST %>/widget"><span class="spinner"><a href="<%= ACTIVITIES_HOST %>">Link to activities</a></span></h-include>
        </div>
      </div>
      <!--<h1><%= title %></h1>-->
      <div id="body-container">