<% if (layout) { %>
<%- include('_top.ejs') %>
<% } %>

<div class="row">
  <div class="col-md-5">
    <a href="/">Back to list</a>
  </div>
</div>
<br>

<div class="row">
<div class="col-md-8">
<ul class="todo-list">
<li class="">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= todo.name %></h3>
  </div>
  <div class="panel-body">
    <div><%= todo.shortDescription %></div>
    <br>
    <div><%= todo.longDescription %></div>
    <hr>
    <div>
      <button class="btn btn-primary">Do something</button>
      <button class="btn btn-success">Do something else</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
</li>

</ul>
</div>
</div>

<% if (layout) { %>
<%- include('_bottom.ejs') %>
<% } %>